* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 95vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 1.5rem;
}

input {
    width: 100%;
    height: 6vh;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    width: 50%;
}

button[type="reset"] {
    background-color: #a30606;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    width: 50%;
}

#login-button-container {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    height: 5vh;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 2vh;
}

.box1 {
    margin: 40px;
    width: 50%;
}

.box1 h1 {
    margin: 0;
    font-size: 5vh;
}

.box1 button[type="submit"], button[type="reset"] {
    font-size: 2vh;
}

.box1 input::placeholder {
    font-size: 2vh;
}

.box1 input[type="text"],
.box1 input[type="email"],
.box1 input[type="password"] {
    font-size: 2vh;
}

.box1 img {
    max-width: 95%;
    height: auto;
}

#logo-login {
    width: 100%;
    height: auto;
}

#logout {
    color: red;
}
.center{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center p{
    margin: 0.5rem;
}

.link{
    text-decoration: underline;
    color: #000;
}
.link:hover{
    text-decoration: underline;
    color: #202020;
}